<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Table
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
              <th> # </th>
              <th>Title</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td><a href="">Legal & Security</a></td>
            </tr>
            <tr>
              <td>2</td>
              <td><a href="">Technical Questions</a></td>
            </tr>
            <tr>
              <td>3</td>
              <td><a href="">General Principles</a></td>
            </tr>
            <tr>
              <td>4</td>
              <td><a href="">Deposits and Withdrawals</a></td>
            </tr>
            <tr>
              <td>5</td>
              <td><a href="">Responsible Gaming</a></td>
            </tr>
            <tr>
              <td>6</td>
              <td><a href="">About Zodiacu</a></td>
            </tr>
            <tr>
              <td>7</td>
              <td><a href="">Bonuses</a></td>
            </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
