.locationImage{
  width: 100%;
}

.image-input{
  padding: 10px 0;
}

.collapse-header{
  color: #20a8d8;
  text-decoration: underline;
  cursor: pointer;
}

.collapse-content{
  width: 100%;
  padding: 10px 0;
  .radio{
    width: 100%;
  }
}
