.link {
  color: #20a8d8;
  text-decoration: underline;
  cursor:pointer;
}

.radio{
  vertical-align: middle;
  display:inline-block;
  margin-top: 0;
  width: 32%;
  input{
    margin-top: 0;
  }
}
